



/* news And latest talks section */
@media (max-width: 767px) {
    #news-latest .colsp {
        flex-direction: column-reverse;
        gap: 20px;
    }
}


/* banner */
@media (max-width: 700px) {
    #info .info-pic {
        margin-top: -50px !important;
    }
}


/* footer */

@media (max-width: 1199px) {
    #footer ul {
        justify-content: start !important;
        gap: 10px !important;
    }

    #footer nav {
        padding: 20px 0;
    }
}


